<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698028150793-di2f2dlb19tae0i26128102dn9su4112.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698028150793-di2f2dlb19tae0i26128102dn9su4112</string>
	<key>API_KEY</key>
	<string>AIzaSyDdJ4mtO4f_MSJC2rfpZ69Bq0XZ3Dl21H0</string>
	<key>GCM_SENDER_ID</key>
	<string>698028150793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kyle.TwitterProject-Rx-MVVM-</string>
	<key>PROJECT_ID</key>
	<string>twitterpractice-rx</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterpractice-rx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698028150793:ios:de8e6602adeb922005a8d8</string>
</dict>
</plist>